@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.grad {
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar {
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  padding: 4px;
  display: flex;
}

#navbar > div {
  /* width: 50%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#navbar > div:nth-child(1) {
  width: 20%;
}

#navbar > div:nth-child(2) {
  width: 70%;
  display: flex;
  justify-content: end;
}

#navbar h2 {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#nav-icon1 span {
  display: block;
  margin: 4px;
  height: 7px;
  width: 40px;
  background: #000000;
  border-radius: 9px;
}

/* **** w3school **** */

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.back a {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.back img:hover {
  background-color: rgba(0, 0, 0, 0.174);
}

.back img {
  height: 98%;
  width: auto;
}

.sidepanel a {
  padding: 3px 3px 3px 12px;
  text-decoration: none;
  color: #eeeeee;
  display: block;
  transition: 0.3s;
}

.sidepanel .sm {
  color: rgb(197, 196, 196);
}

.link {
  border: 1px solid gray;
  margin: 2px 0;
  border-radius: 5px;
  font-size: 0.9rem;
}

.sidepanel .home {
  font-size: 25px;
}

.sidepanel a:hover {
  color: #ecffa6;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.sidepanel .botbut {
  position: absolute;
  bottom: 70px;
  width: 98%;
  text-align: center;
  color: white;
}
.botbut .link {
  border: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border: none;
  width: 45px;
}

.openbtn:hover {
  background-color: rgba(0, 0, 0, 0.158);
}
.fix-column-links {
  max-height: 76vh;
  overflow: auto;
}

/* *********************** Local Stuff ************************** */

body {
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.bg-c {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

h1 {
  text-align: center;
}

h2,
h3,h4 {
  margin: 4px;
}

p {
  font-size: 1rem;
  margin: 3px;
}

ul,
ol {
  margin: 10px 2px;
}

li {
  font-size: 1rem;
  line-height: 25px;
}

h1 > a {
  color: #1cb5e0;
}

a {
  color: #16509d;
  font-weight: bold;
}
.ba {
  color: #a5f3fa;
}
.bb {
  color: #282a2b !important;
}
.da {
  color: #004e92 !important;
}

button {
  font-size: 1rem;
}

.content-box {
  /* background-color: rgb(26 164 210); */
  background-color: #1cb5e02e;
  border-radius: 20px;
  padding: 10px 3px;
  margin: 40px 3px 20px 3px;
}

.wh {
  background-color: rgba(255, 255, 255, 0.083);
  border-radius: 10px;
  padding: 8px 5px;
  margin: 18px 4px;
}

.wb {
  background-color: rgba(255, 255, 255, 0.394);
}

.in {
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 10px;
  padding: 5px;
  margin: 7px 4px;
  border: 1px solid rgba(0, 0, 0, 0.299);
}

.in > P > a {
  color: #3ab5b0;
}

.content-box > ul > li > a {
  color: #3ab5b0;
}

/* ****** part 3****** */

.part3 > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.426);
  margin: 5px 0;
  border-radius: 5px;
}

.part3 > div > div {
  padding: 10px;
  margin: 4px;
  border-radius: 10px;

  background-color: rgba(248, 248, 248, 0.37);
}

/* ****** part 2****** */

.part2 > div,
.part2Half > div {
  display: grid;
  grid-template-columns: 1fr 9fr;
  border: 1px solid rgba(0, 0, 0, 0.426);
  margin: 5px 0;
  border-radius: 5px;
}
.part2Half > div {
  grid-template-columns: 1fr 1fr;
}

.part2 > div > div,
.part2Half > div > div {
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 0.035);
}

/* ************** responsive image ************* */
@media only screen and (max-width: 1080px) {
  img {
    height: auto;
    width: 95%;
    margin: 5px;
  }
}

/* **** Accordion **** */

.ac {
  background-color: #0c528b;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.acc:hover {
  background-color: #1b6bad;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 3px;
  background-color: rgb(0, 0, 0);
  display: none;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.panel > p {
  color: white;
}
code {
  border-radius: 14px;
  max-height: 70vh;
  padding: 0 0 0 10px !important;
}
pre {
  overflow: auto;
  font-size: 0.9rem;
  margin: 5px 0 0;
}

pre code.hljs {
  padding: 0 1em !important;
}
/* ***************code********** */
.code {
  /* font-size: 1rem; */
  color: white;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
}

.dots {
  display: flex;
  margin: 5px;
}

.dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
}

.f {
  background-color: red;
}

.s {
  background-color: yellow;
}

.t {
  background-color: green;
}

iframe {
  width: 90vw;
  height: 99vh;
}

@media only screen and (max-width: 600px) {
  ul,
  ol {
    padding: 2px;
    margin-left: 4px;
  }

  li {
    padding: 2px;
    margin-left: 10px;
  }

  ol > li {
    margin-left: 19px;
  }

  .wh {
    padding: 4px 5px;
    margin: 7px 4px;
  }
  .part2Half > div > div > p {
    font-size: 2.8vw;
  }
}
