* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(circle 610px at 5.2% 51.6%,
      rgba(5, 8, 114, 1) 0%,
      rgba(7, 3, 53, 1) 97.5%);
  color: white;
  font-family: "Kalam", cursive;
}

a {
  color: whitesmoke;
  font-size: 1.2rem;
}

h1,
h2 {
  text-align: center;
  padding-top: 5px;
}

#small-head {
  font-size: 15px;
  display: block;
}

.book {
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 15px;
  margin: 10px 0;
}
.book-container{
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.book-container h3{
  text-align: center;
}
.book-inner-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  margin: 0px 0 15px;
}

.book-inner-container>div {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .book-inner-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .book-inner-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .book-inner-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

footer {
  background-color: rgba(255, 255, 255, 0.21);
  text-align: center;
}

/* ************************************** Accordion ***************************** */
/* Style the buttons that are used to open and close the accordion panel */
.ac {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: 0.4s;
  margin: 10px 0;
  font-family: "Kalam", cursive;
  font-size: 1.4rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.ac:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.151);
  display: none;
  overflow: hidden;
}

.log {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 8px;
  border: 1px solid white;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 16px;
    padding: 4px 0;
  }
}

/* PLUG */
.social-plug-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-box {
  margin: 10px auto;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(255, 0, 0, 0.365); */
}

.social-box>div>a {
  text-decoration: none;
  padding: 4px;
  display: inline-block;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  margin: 0 10px;
  cursor: pointer;
  background-color: white;
  text-align: center;
  color: black;
  padding: 10px 15px;
  box-sizing: border-box;
  vertical-align: middle;
}

.social-box>div>a:hover {
  background-color: rgb(214, 212, 212);
}

img.social-logo {
  height: 40px;
}

/* Plug media queries */
@media only screen and (max-width: 600px) {
  .social-plug-container {
    flex-direction: column;
  }

  img.dis-logo {
    height: 40px;
  }

  .social-box>div>a {
    font-size: 15px;
    margin: 0 5px;
  }
}